body 
{
    background-color: #5c825b;
}



h1{color :#123011; 
    text-align: center; font-family: verdana; font-size: 10vw}
    text-align: center; font-family: verdana; font-size: 5vw}

h2{color :#123011; 
    text-align: center; font-family: verdana; font-size: 10vw}
    text-align: center; font-family: verdana; font-size: 5vw}
    
h3{color :#123011; 
    text-align: center; font-family: verdana}   
    text-align: center; font-family: verdana; font-size: 10vw}   
    text-align: center; font-family: verdana; font-size: 5vw}   

p{color :#123011; 
    text-align: center; font-family: verdana}    
    text-align: center; font-family: verdana; font-size: 3vw}    


li{color :#123011; 
    text-align: left; font-family: verdana; font-weight: bold;}
    text-align: left; font-family: verdana; font-weight: bold; font-size: 3vw}

a.button
{
    background-color: #123011;
    border: none;
    color: #5c825b;
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    font-size: 3vw;
    font-family: verdana;
     
}

.gombok
{
    text-align: center;
    text-align: center; font-size: 3vw
}

button
{
    background-color: #123011;
    border: none;
    color: #5c825b;
    padding: 15px 20px;
    text-align: center;
    font-size: medium;
    font-family: verdana;
    margin: auto;
    display: block;
    font-weight: bold;
    font-size: 3vw;
}

div{ font-weight: bold; font-size: medium;}
div{ font-weight: bold; font-size: 3vw;}

img{margin: auto;
    display: block;}