body 
{
    background-color: #5c825b;
}



h1{color :#123011; 
    text-align: center; font-family: verdana; font-size: 50px;}

h2{color :#123011; 
    text-align: center; font-family: verdana; font-size: 35px}
    
h3{color :#123011; 
    text-align: center; font-family: verdana; font-size: 30px}   

p{color :#123011; 
    text-align: center; font-family: verdana; font-size: 25px}    


li{color :#123011; 
    text-align: left; font-family: verdana; font-weight: bold; font-size: 25px}

a.button
{
    background-color: #123011;
    border: none;
    color: #5c825b;
    padding: 13px 28px;
    text-align: center;
    font-size: 15px;
    font-family: verdana;
     
}

.gombok
{
    text-align: center;
}

button
{
    background-color: #123011;
    border: none;
    color: #5c825b;
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    font-family: verdana;
    margin: auto;
    display: block;
    font-weight: bold;
}

div{ font-weight: bold; font-size: medium;}

img{margin: auto;
    display: block; width: 300px; height: auto;}